<hr style="margin-bottom: 20px;" />
<footer    
    style="position: fixed; 
           bottom: 0; 
           width: 100%; 
           background-color: #d1e7dd; 
           text-align: center; 
           padding: 10px;"
>
    <p style="color: #000503;">&copy; <%= new Date().getFullYear() %> Oksana Feterovskaya</p>
</footer>