<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head.ejs") %>
  <body>
    <div class="d-flex flex-column align-items-center justify-content-center vh-100">
      <%- include("partials/header.ejs") %>
      <main class="mt-3 ">
        <header>
          <h2 class="fs-4 mb-3">
            The secret word is: 
            <span class="badge text-bg-secondary fs-6">
              <%= secretWord %>
            </span>
          </h2>
        </header>
        <div class="col-12">
          <form method="POST">
            <div class="input-group mb-3">
              <label class="input-group-text mt-3 " for="secretWord">
                Change Secret Word:&nbsp;
              </label>
              <input type="text" id="secretWord" name="secretWord" class="form-control mt-3 " />
            </div>
            <button type="submit" class="btn mt-3 w-100" style="background-color: #d1e7dd; color: #0c4128;">
              Submit
            </button>
          </form>
        </div>
      </main>
      <div 
        class="col-12 mt-auto d-flex align-items-center justify-content-center"  
        style="background-color: #d1e7dd; color: #0c4128;">
        <%- include("partials/footer.ejs") %>
      </div>
    </div>
  </body>
</html>